{{if .Hits}}
<div class="card">
    <ul class="list-group list-group-flush">
        {{range .Hits}}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center autocomplete-hit" data-value="{{.ID}}">
            {{.ID}}
            {{with .Description}}({{.}}){{end}}
            <span class="badge badge-pill badge-default">{{.ID}}</span>
        </li>
        {{end}}
    </ul>
</div>
{{end}}