<div class="c-meta-item">
	{{with .Person}}
	<i class="if if-ghent-university" data-toggle="tooltip"
		title="" data-placement="bottom" data-original-title="UGent author"></i>
	{{end}}
	{{with .ORCID}}
	<i class="if if-orcid" data-toggle="tooltip"
		title="" data-placement="bottom" data-original-title="Author with ORCID"></i>
	{{end}}
	<span>{{.Name}}</span>
</div>