{{if .User}}
Edited {{formatTime .DateUpdated "2006-01-02 15:04"}} by {{.User.FullName}}.
{{else}}
System update {{formatTime .DateUpdated "2006-01-02 15:04"}}.
{{if .LastUser}}
Last edit by {{.LastUser.FullName}}.{{end}}
{{end}}