<ul class="list-group list-group-flush" data-panel-state="read">
    <li class="list-group-item">
        {{.RenderType}}
        {{.RenderDOI}}
        {{.RenderISXN}}
    </li>
    <li class="list-group-item">
        {{.RenderTitle}}
        {{.RenderAlternativeTitle}}
    </li>
</ul>