{{template "search/_query" .}}
<div class="d-flex flex-wrap mb-6">
    {{template "search/_type_facet" .}}
    {{template "search/_completeness_score_facet" .}}
    {{template "search/_status_facet" .}}
    {{template "search/_faculty_facet" .}}
</div>
