{{if .ThumbnailURL}}
<img class="list-group-item-thumbnail" src="{{pathFor "publication_thumbnail" "id" .ID}}" height="156">
{{else}}
<div class="list-group-item-thumbnail">
    <div class="c-thumbnail c-thumbnail--publication c-thumbnail--medium">
        <i class="if if-article"></i>
    </div>
</div>
{{end}}
