BIBLIO_BACKOFFICE_MODE="local"
BIBLIO_BACKOFFICE_BASE_URL="http://localhost:3001"
BIBLIO_BACKOFFICE_ADMIN_USERNAME="admin"
BIBLIO_BACKOFFICE_ADMIN_PASSWORD="admin"
BIBLIO_BACKOFFICE_CURATOR_USERNAME="curator"
BIBLIO_BACKOFFICE_CURATOR_PASSWORD="curator"
BIBLIO_BACKOFFICE_HOST="0.0.0.0"
BIBLIO_BACKOFFICE_PORT="3001"
BIBLIO_BACKOFFICE_S3_ENDPOINT="http://minio:3071"
BIBLIO_BACKOFFICE_S3_ID="minioadmin"
BIBLIO_BACKOFFICE_S3_SECRET="minioadmin"
BIBLIO_BACKOFFICE_S3_BUCKET="biblio"
BIBLIO_BACKOFFICE_SESSION_SECRET="secret"
BIBLIO_BACKOFFICE_CSRF_SECRET="secret"
BIBLIO_BACKOFFICE_FRONTEND_URL="https://bibliotest.ugent.be"
BIBLIO_BACKOFFICE_FRONTEND_USERNAME="secret"
BIBLIO_BACKOFFICE_FRONTEND_PASSWORD="secret"
BIBLIO_BACKOFFICE_OIDC_URL="http://localhost:3002"
BIBLIO_BACKOFFICE_OIDC_CLIENT_ID="biblio-backoffice"
BIBLIO_BACKOFFICE_OIDC_CLIENT_SECRET="biblio-backoffice"
BIBLIO_BACKOFFICE_PG_CONN="postgres://biblio:biblio@db:3051/biblio"
BIBLIO_BACKOFFICE_ES6_URL="http://es:3061"
BIBLIO_BACKOFFICE_DATASET_INDEX="biblio_datasets"
BIBLIO_BACKOFFICE_PUBLICATION_INDEX="biblio_publications"
BIBLIO_BACKOFFICE_API_KEY="xyz"
BIBLIO_BACKOFFICE_TOKEN_SECRET="beb7569ed74ac8d65104d73c6fc6b37a"
# authority client
BIBLIO_BACKOFFICE_MONGODB_URL="mongodb://mongo:3081"
BIBLIO_BACKOFFICE_FRONTEND_ES6_URL="http://es:3061"

TERN_CONFIG="tern.docker.conf"
TERN_MIGRATIONS="db/migrations"

MOCK_OIDC_EXPIRES_IN="7200s"
MOCK_OIDC_HOST="0.0.0.0"
MOCK_OIDC_PORT="3002"
MOCK_OIDC_PRODUCTION="false"
MOCK_OIDC_SESSION_COOKIE_NAME="mock-oidc"
MOCK_OIDC_URI_BASE="http://localhost:3002"
MOCK_OIDC_PUBLIC_KEY_PATH="./.data/oidc.rsa.pub"
MOCK_OIDC_PRIVATE_KEY_PATH="./.data/oidc.rsa"
MOCK_OIDC_CLIENTS_PATH="./.data/clients.json"
MOCK_OIDC_USERS_PATH="./.data/users.json"
