<!DOCTYPE html>
<html class="u-maximize-height" dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{assetPath "/css/app.css"}}">
    <link rel="icon" href="{{assetPath "/favicon.ico"}}">
    <title>{{.PageTitle}}</title>
    <meta name="csrf-token" content='{{.CSRFToken}}'>
    {{block "page_meta" .}}{{end}}
</head>

<body class="u-maximize-height overflow-hidden u-scroll-wrapper">
    <header>
        {{if eq appMode "development"}}
        <div class="alert alert-warning mb-0 py-1" role="alert">
            <p>
                <strong>Warning!</strong>&nbsp;This is the&nbsp;<strong>development</strong>&nbsp;version of the Biblio backend. Features may not work correctly and data entered here will not be retained.
            </p>
        </div>
        {{else if eq appMode "staging"}}
        <div class="alert alert-warning mb-0 py-1" role="alert">
            <p>
                <strong>Warning!</strong>&nbsp;This is the&nbsp;<strong>test</strong>&nbsp;version of the Biblio backend. Data entered here will not be retained.
            </p>
        </div>
        {{end}}
        {{if .OriginalUser}}
        <div class="alert alert-danger mb-0 py-1" role="alert">
            <form action="{{pathFor "delete_impersonation"}}" method="POST">
                {{.CSRFTag}}
                <label class="my-1 me-2 fw-bold">Viewing the perspective of {{.User.FullName}}.</label>
                <button type="submit" class="btn btn-danger my-1">return to {{.OriginalUser.FullName}}</button>.
            </form>
        </div>
        {{end}}
        <div class="bc-navbar bc-navbar--small bc-navbar--bordered-bottom bc-navbar--white bc-navbar--fixed bc-navbar--scrollable shadow-sm px-4">
            <div class="bc-toolbar bc-toolbar-sm">
                <div class="bc-toolbar-left">
                    <div class="bc-toolbar-item">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{pathFor "home"}}">
                                        <img class="d-none d-lg-inline-block mb-1" src="{{assetPath "/images/ghent-university-library-logo.svg"}}" alt="Ghent University Library">
                                        <img class="d-inline-block d-lg-none mb-1" src="{{assetPath "/images/ghent-university-library-mark.svg"}}" alt="Ghent University Library">
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="bc-toolbar-right">
                    <div class="bc-toolbar-item">
                        <ul class="nav nav-main">
                            <li class="nav-item">
                                <a class="nav-link collapsed btn-sm" href="{{.FrontendBaseUrl}}/contact" target="_blank">
                                    <i class="if if-info-circle if--small text-muted"></i>
                                    <span class="btn-text">Help</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                {{if .User}}
                                    <div class="dropdown">
                                        <button class="nav-link dropdown-toggle btn-sm" role="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="bc-avatar-and-text">
                                                <div class="bc-avatar bc-avatar--tiny me-3">
                                                    <i class="if if-user"></i>
                                                </div>
                                                <div class="bc-avatar-text">{{.User.FullName}}</div>
                                            </div>
                                        </button>
                                        <div class="dropdown-menu mt-8" x-placement="top">
                                            <div class="bc-avatar-and-text m-4">
                                                <div class="bc-avatar bc-avatar-icon bc-avatar--small">
                                                    <i class="if if-user"></i>
                                                </div>
                                                <div class="bc-avatar-text">
                                                    <h4>{{.User.FullName}}</h4>
                                                    <p class="text-muted c-body-small">{{.User.Email}}</p>
                                                </div>
                                            </div>
                                            <hr class="dropdown-divider">
                                            {{if and .User.CanImpersonateUser (not .OriginalUser)}}
                                            <a class="dropdown-item" href="#"
                                                hx-get="{{pathFor "add_impersonation"}}"
                                                hx-target="#modals"
                                            >
                                                <i class="if if-eye"></i>
                                                View as
                                            </a>
                                            {{end}}
                                            <a class="dropdown-item" href="{{pathFor "logout"}}">
                                                <i class="if if-log-out"></i>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                {{else}}
                                    <a class="btn btn-primary btn-sm" href="{{pathFor "login"}}">
                                        <i class="if if-arrow-right ms-0"></I>
                                        <span class="btn-text me-2">Log in</span>
                                    </a>
                                {{end}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="d-flex u-maximize-height">
            <div class="c-sidebar{{if eq .UserRole "curator"}} c-sidebar--dark-gray{{end}}">
                {{if and .User .User.CanCurate}}
                <div class="dropdown mx-4 mt-1 mb-5">
                    <button class="btn btn-outline-light btn-sm w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-truncate">
                        {{if eq .UserRole "user"}}
                            Researcher
                        {{else if eq .UserRole "curator"}}
                            Librarian
                        {{end}}
                      </span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" hx-put="{{pathFor "update_role" "role" "user"}}" hx-swap="none">
                            Researcher
                        </button>
                        <button class="dropdown-item" hx-put="{{pathFor "update_role" "role" "curator"}}" hx-swap="none">
                            Librarian
                        </button>
                    </div>
                </div>
                {{end}}
                <div class="c-sidebar__menu">
                    <nav>
                        <ul class="c-sidebar-menu">
                            <li class="c-sidebar__item{{if eq .ActiveNav "publications"}} c-sidebar__item--active{{end}}">
                                <a href="{{pathFor "publications"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-article"></i>
                                    </span>
                                    <span class="c-sidebar__label">Biblio Publications</span>
                                </a>
                            </li>
                            <li class="c-sidebar__item{{if eq .ActiveNav "datasets"}} c-sidebar__item--active{{end}}">
                                <a href="{{pathFor "datasets"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-database"></i>
                                    </span>
                                    <span class="c-sidebar__label">Biblio Datasets</span>
                                </a>
                            </li>
                            {{if eq .UserRole "curator"}}
                            <li class="c-sidebar__item{{if eq .ActiveNav "dashboard"}} c-sidebar__item--active{{end}}">
                                <a href="{{pathFor "dashboard_publications" "type" "faculties"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-grid"></i>
                                    </span>
                                    <span class="c-sidebar__label">Dashboard</span>
                                </a>
                            </li>
                            <li class="c-sidebar__item">
                                <a href="{{pathFor "publication_batch"}}">
                                    <span class="c-sidebar__label">Batch</span>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </nav>
                </div>
                <div class="c-sidebar__bottom">
                    <img src="{{assetPath "/images/logo-ugent-white.svg"}}" alt="Logo UGent" height="48px" width="auto">
                </div>
            </div>
            {{block "page_content" .}}{{end}}
        </div>
    </main>

    <div id="modals"></div>
    <template class="template-modal-error">
        <div class="d-block modal-backdrop fade show"></div>
        <div class="d-block modal show" tabindex="-1" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="c-blank-slate c-blank-slate-danger">
                            <div class="bc-avatar">
                                <i class="if if-error-circle"></i>
                            </div>
                            <p class="msg"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="bc-toolbar">
                            <div class="bc-toolbar-left">
                                <button class="btn btn-link modal-close">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <div id="flash-messages">
        {{range .Flash}}
        {{partial "flash" .}}
        {{end}}
    </div>

    <script type="application/javascript" src="{{assetPath "/js/app.js"}}"></script>
</body>

</html>
