<div hx-swap-oob="innerHTML:#publication-summary">
	{{template "publication/_summary" .}}
</div>

<div hx-swap-oob="innerHTML:#publication-conference">
    {{ template "publication/conference/_show" . }}
</div>
