<div class="list-group-item-author">
	<i class="if if-orcid" data-toggle="tooltip"
		title="Author with ORCID" data-placement="bottom"></i>
	<i class="if if-ghent-university" data-toggle="tooltip"
		title="UGent author" data-placement="bottom"></i>
	<span>{{.full_name}}</span>
</div>