<div id="publication-summary"
    hx-trigger="summary-changed from:body"
    hx-get="{{pathFor "publication_summary" "id" .D.Publication.ID}}"
    hx-swap="innerHTML"
>
    {{template "publication/_summary" .}}
</div>