{{if .D.OnORCID}}
<div class="list-group-item-meta-item" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Sent to Orcid">
    <i class="if if-orcid if--muted if--small"></i>
    <i class="if if-check text-success if--small"></i>
</div>
{{end}}