<div hx-swap-oob="innerHTML:#modals"></div>

{{if gt (len (.Publication.Contributors .Role)) 1}}
<table>
    <tbody hx-swap-oob="afterend:#{{.Role}}-{{sub .Position 1}}">
        <tr id="{{.Role}}-{{.Position}}">
            {{template "publication/contributors_columns" .}}
        </tr>
    </tbody>
</table>
{{else}}
<div hx-swap-oob="innerHTML:#contributors-{{.Role}}-body">
    {{template "publication/contributors_body" .}}
</div>
{{end}}