<div hx-swap-oob="innerHTML:#publication-summary">
    {{template "publication/_summary" .}}
</div>

<table>
    <tr id="{{.D.Role}}-{{.D.Position}}" hx-swap-oob="true">
        {{template "publication/contributors/_columns" .}}
    </tr>
</table>