<!DOCTYPE html>
<html class="u-maximize-height" dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{assetPath "/css/app.css"}}">
    <link rel="icon" href="{{assetPath "/favicon.ico"}}">
    <title>{{.D.PageTitle}}</title>
    <meta name="htmx-config" content='{"useTemplateFragments":true}'>
    <meta name="csrf-token" content='{{.CSRFToken}}'>
</head>

<body class="u-maximize-height overflow-hidden u-scroll-wrapper">
    <header>
        {{with .OriginalUser}}
        <div class="alert alert-danger" role="alert">
            <form class="form-inline" action="{{pathFor "user_impersonate_remove"}}" method="POST">
                {{$.CSRFTag}}
                <label class="my-1 mr-2 font-weight-bold">Viewing the perspective of {{$.User.FullName}}.</label>
                <button type="submit" class="btn btn-danger my-1">return to {{.fullname}}</button>.
            </form>
        </div>
        {{end}}
        <div class="bc-navbar bc-navbar--bordered-bottom bc-navbar--white bc-navbar--fixed shadow-sm">
            <div class="bc-toolbar bc-toolbar-sm">
                <div class="bc-toolbar-left">
                    <div class="bc-toolbar-item">
                        <a href="{{pathFor "home"}}"><img class="mr-2" src="{{assetPath "/images/universiteitsbibliotheek.svg"}}"></a>
                    </div>
                </div>
                <div class="bc-toolbar-right">
                    {{if .User}}
                    <!-- <div class="bc-toolbar-item">
                        <button class="btn btn-link btn-icon-only btn-link-muted mr-4">
                            <i class="if if-notification"></i>
                            <div class="sr-only">Notifications</div>
                        </button>
                    </div> -->
                    <div class="bc-toolbar-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle d-flex align-items-center text-body" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="bc-avatar-and-text mr-2">
                                    <div class="bc-avatar bc-avatar-icon bc-avatar">
                                        <i class="if if-user"></i>
                                    </div>
                                    <div class="bc-avatar-text font-weight-bold">{{.User.FullName}}</div>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                {{if .User.CanImpersonateUser}}
                                <a class="dropdown-item" href="#"
                                    hx-get="{{pathFor "user_impersonate_choose"}}"
                                    hx-target="#user-impersonate-modal"
                                    hx-trigger="click"
                                >View as other user</a>
                                {{end}}
                                <a class="dropdown-item" href="{{pathFor "logout"}}">Logout</a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="bc-toolbar-item">
                        <a class="btn btn-primary" href="{{pathFor "login"}}">Login</a>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="d-flex u-maximize-height">
            <div class="c-sidebar">
                <div class="c-sidebar__menu">
                    <nav>
                        <ul class="c-sidebar-menu">
                            <li class="c-sidebar__item{{if eq .ActiveMenu "publications"}} c-sidebar__item--active{{end}}">
                                <a href="{{pathFor "publications"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-article"></i>
                                    </span>
                                    <span class="c-sidebar__label">Biblio Publications</span>
                                </a>
                            </li>
                            <li class="c-sidebar__item{{if eq .ActiveMenu "datasets"}} c-sidebar__item--active{{end}}">
                                <a href="{{pathFor "datasets"}}">
                                    <span class="c-sidebar__icon">
                                        <i class="if if-database"></i>
                                    </span>
                                    <span class="c-sidebar__label">Biblio Datasets</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="c-sidebar__bottom">
                    <img src="{{assetPath "/images/logo-ugent-white.svg"}}" alt="Logo UGent" height="48px" width="auto">
                </div>
            </div>

            {{yield}}
        </div>
    </main>

    <div id="user-impersonate-modal" class="modals"></div>

    <div id="flash-messages">
        {{range .Flash}}
        {{template "layouts/_flash_message" .}}
        {{end}}
    </div>

    <script type="application/javascript" src="{{assetPath "/js/app.js"}}"></script>
</body>

</html>