package views

templ BadgeLocked() {
	<span class="c-subline ps-2 me-3 pe-3 border-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Locked for editing">
		<i class="if if-lock if--small if--muted"></i>
		<span class="text-muted c-body-small ms-2">Locked</span>
	</span>
}
