{{define "modal_dialog"}}
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">{{.Title}}</h2>
        </div>
        <div class="modal-body">
            {{.Errors.Render}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-link modal-close">Close</button>
        </div>
    </div>
</div>
{{end}}