package views

import "github.com/ugent-library/biblio-backoffice/ctx"

templ CSRFTag(c *ctx.Ctx) {
	<input type="hidden" name={ c.CSRFName } value={ c.CSRFToken }/>
}

templ Cat(components ...templ.Component) {
	for _, c := range components {
		@c
	}
}
