<div class="card-body p-0">
    <ul class="list-group list-group-flush" data-panel-state="read">
        {{range .DisplayAdditionalInfo.Sections}}
        <li class="list-group-item">
            {{.Render}}
        </li>
        {{end}}
    </ul>
</div>