<div class="card-body">
    <p>{{.Publication.Message}}</p>

    {{if not (.User.CanEditPublication .Publication)}}
        <p class="text-muted">Have any questions or changes to report? Mail to <a
        href="mailto:biblio@ugent.be">biblio@ugent.be</a>.</p>
    {{end}}
</div>