<div class="card-body">
    <p class="pb-3">{{.Publication.Message}}</p>
    <p class="text-muted">Have any questions or changes to report? Mail to <a href="mailto:biblio@ugent.be">biblio@ugent.be</a>.</p>
</div>