{{if .Publication.InORCIDWorks .User.ORCID}}
<li class="c-meta-item" id="publication-{{.Publication.ID}}-orcid-status"
    data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Sent to Orcid"
>
    <i class="if if-orcid if--muted if--small"></i>
    <i class="if if-check text-success if--small"></i>
</li>
{{else}}
<li class="c-meta-item" id="publication-{{.Publication.ID}}-orcid-status"></li>
{{end}}