{{$thumbnailURL := ""}}
{{range .File}}
    {{$thumbnailURL = (pathFor "publication_file_thumbnail" "id" $.ID "file_id" .ID).String}}
{{end}}
{{if $thumbnailURL}}
<img src="{{$thumbnailURL}}" height="156">
{{else}}
<i class="if if-article"></i>
{{end}}
