{{define "summary_actions"}}
<div class="bc-toolbar-item ms-auto ms-lg-0">
    <div class="c-button-toolbar">
        <a class="btn btn-tertiary" href="{{.PublicationURL}}">
            <i class="if if-eye"></i>
            <span class="btn-text">View publication</span>
        </a>
    </div>
</div>
{{end}}