package publication

import (
	// "fmt"
	"github.com/ugent-library/okay"
	"github.com/ugent-library/biblio-backoffice/ctx"
	// "github.com/ugent-library/biblio-backoffice/localize"
	"github.com/ugent-library/biblio-backoffice/models"
	// "github.com/ugent-library/biblio-backoffice/views/form"
	// "github.com/ugent-library/biblio-backoffice/views/display"
)

templ EditFileDialog(c *ctx.Ctx, p *models.Publication, file *models.PublicationFile, errors *okay.Errors) {
}