{{if .Publication.InORCIDWorks .User.ORCID}}
<div id="publication-{{.Publication.ID}}-orcid-status" class="list-group-item-meta-item"
    data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Sent to Orcid"
>
    <i class="if if-orcid if--muted if--small"></i>
    <i class="if if-check text-success if--small"></i>
</div>
{{else}}
<div id="publication-{{.Publication.ID}}-orcid-status"></div>
{{end}}