package publication

import (
	"github.com/ugent-library/biblio-backoffice/models"
	"github.com/ugent-library/biblio-backoffice/ctx"
)

templ SummaryParts(c *ctx.Ctx, pub *models.Publication) {
	<ul class="c-meta-list c-meta-list-inline">
		for _, summaryPart := range pub.SummaryParts() {
			<li class="c-meta-item">{ summaryPart }</li>
		}
	</ul>
}
