<div class="form-group row">
    <label class="col-sm-3 col-form-label align-self-start" for="{{.Label}}">
        {{.Label}}
        {{if .Required}}&nbsp;<abbr class="required" title="Required">*</abbr>{{end}}
    </label>
    <div class="col-sm-9">
        {{if .List}}
        <ul class="list-unstyled">
        {{range .List}}
            <li>{{.}}</li>
        {{end}}
        </ul>
        {{else}}
        <span>-</span>
        {{end}}
    </div>
</div>
