:root {
  /*
   * colors from bootstrap blue badge
   * */
  --badge-color-bg: #e9f0fa;
  --badge-color-text: #1e64c8;
  --badge-color-bg-hover: #d5e3f6;
}

/*
 * reference: https://github.com/yairEO/tagify#css-variables
 * playground: https://yaireo.github.io/tagify/#section-different-look (click on menu in upper right corner)
 * */

.tagify-custom{

  --tags-disabled-bg: #f2f2f2;

  --tags-border-color       : #ccc;
  --tags-hover-border-color: #ccc;
  --tags-focus-border-color: #ccc;

  --tag-bg                  : var(--badge-color-bg);
  --tag-hover               : var(--badge-color-bg-hover);
  --tag-text-color          : #1e64c8;
  --tag-text-color--edit    : var(--badge-color-text);
  --tag-border-radius       : 10rem;

  --tag-remove-bg           : var(--badge-color-bg);
  --tag-remove-btn-bg       : var(--badge-color-bg);
  --tag-remove-btn-bg--hover: var(--badge-color-bg-hover);

  --tag-pad                 : 0.3em 0.5em;
  --tag-inset-shadow-size   : 1.35em;

  --tag-hide-transition: 0.3s;

  /*
   * disabled striped box when input is disabled
   * */
  --readonly-striped: 0;

  /*
   * mimic bootstrap textarea style
   * */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.tagify-custom.form-control {
  /*
   * when combined with form-control
   * height is fixed at 3.6rem
   * */
  height: inherit;
}

.tagify-custom[disabled]{
  /*
   * disable almost invisible input when disabled
   * */
  opacity: 1;
}

.tagify-custom .tagify__tag__removeBtn{
  opacity: 50;
  transform: none;
  margin-left: 0px;
  transition: none;

  /*
   * make close button bigger
   * */
  font: 16pt Arial;
  width: 16pt;
  height: 16pt;
}

.tagify-custom .tagify__tag:hover .tagify__tag__removeBtn{
}
