<div hx-swap-oob="innerHTML:#publication-summary">
    {{template "publication/_summary" .}}
</div>

<div hx-swap-oob="innerHTML:#publication-details">
    {{ template "publication/details/_show" . }}
</div>
