/* ==========================================================================
    Component: Author
   ========================================================================== */

.c-author-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem 0;
  color: $text-muted;
}

.c-author {
  margin: 0.2rem 1.6rem 0.4rem 0;
  line-height: 1.4;
  display: flex;
  align-items: center;

  .if {
    color: $icon-muted;
    font-size: 1.6rem;
    margin-right: 0.4rem;
  }
}
