/* ==========================================================================
  Component: Button Toolbar
  ---
  Group multiple buttons together
   ========================================================================== */

.c-button-toolbar {
  align-items: center;
  display: flex;
  gap: 1.2rem;

  .btn {
    margin: 0.4rem 0;
  }
}

.c-button-toolbar--wide-spacing {
  gap: 1.6rem;
}

.c-button-toolbar--vertical {
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;

  .btn {
    margin: 0.4rem;
  }
}
