.c-header-collapsible {
  z-index: $zindex-fixed;
}
.c-header-collapsible {
  .c-header-collapsible__expanded {
    display: block;
  }
  .c-header-collapsible__collapsed {
    display: none;
  }
}

.c-header-collapsible.collapsed {
  .c-header-collapsible__expanded {
    display: none;
  }
  .c-header-collapsible__collapsed {
    display: block;
  }
}
