/* ==========================================================================
    Component: Meta
   ========================================================================== */

.c-meta-list {
  padding: 0.3rem 0;
}

.c-meta-list-horizontal {
  display: flex;
  align-items: center;

  .c-meta-item:not(:last-child) {
    margin-right: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

.c-meta-item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.c-meta-item {
  line-height: 1.6;
  display: inline-flex;
  align-items: center;
  color: $text-muted;
  margin: 0.2rem 0;

  > .if {
    color: $icon-muted;
    font-size: 1.6rem;
    padding-right: 0.2rem;
  }
}
