/* ==========================================================================
    Component: Decorated or
   ========================================================================== */

.c-or {
  display: flex;
  text-align: center;
  width: 100%;
  margin: 1.6rem 0;

  span {
    padding: 0 1.2rem;
    z-index: 2;
    font-weight: 500;
    color: $text-muted;
  }

  &:before,
  &:after {
    content: " ";
    align-self: center;
    width: 100%;
    border-top: 0.1rem solid $border;
  }
}
