<div hx-swap-oob="innerHTML:#publication-summary">
    {{template "publication/_summary" .}}
</div>

<div hx-swap-oob="innerHTML:#publication-additional-info">
    {{ template "publication/additional_info/_show" . }}
</div>
