/* ==========================================================================
    Component: Thumbnail
   ========================================================================== */

.c-thumbnail {
  background: $light-blue;
  border: 0.1rem solid $border;
  width: 100%;
  position: relative;
  .if {
    color: $blue;
    position: absolute;
    top: calc(50% - 1.2rem);
    left: calc(50% - 1.2rem);
  }
}

.c-thumbnail--publication {
  padding-top: 125%;
  &.c-thumbnail--small {
    width: 10.8rem;
  }
  &.c-thumbnail--medium {
    width: 12.4rem;
  }
  &.c-thumbnail--xsmall {
    width: 6.4rem;
  }
}

.c-thumbnail--dataset {
  padding-top: 100%;
  &.c-thumbnail--medium {
    width: 9.6rem;
  }
}

.c-thumbnail--small,
.c-thumbnail--xsmall {
  .if {
    font-size: 1.6rem;
    line-height: 1.6rem;
    top: calc(50% - 0.8rem);
    left: calc(50% - 0.8rem);
  }
}

