// Start your CSS here
@import "_colors";
@import "_icon-font";
@import "_settings.bootstrap";
@import "_br-variables-override";

/* Bootstrap upgrade (todo organise into file)
   ========================================================================== */

// Functions come first
@import "./node_modules/bootstrap/scss/functions";

// Optional variable overrides here
$custom-color: #1e64c8;
$custom-theme-colors: (
  "custom": $custom-color,
);

// Variables come next
@import "./node_modules/bootstrap/scss/variables";

// Optional Sass map overrides here
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Followed by our default maps
@import "./node_modules/bootstrap/scss/maps";

// Rest of our imports
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";

/* Generic: CSS reset, box-sizing, global CSS tweaks
  ========================================================================== */

//@import "_reset";

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
//@import "./node_modules/bootstrap/scss/code";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/button-group";
@import "./node_modules/bootstrap/scss/forms/input-group";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/breadcrumb";
@import "./node_modules/bootstrap/scss/pagination";
@import "./node_modules/bootstrap/scss/badge";
@import "./node_modules/bootstrap/scss/alert";
@import "./node_modules/bootstrap/scss/progress";
@import "./node_modules/bootstrap/scss/list-group";
@import "./node_modules/bootstrap/scss/close";
@import "./node_modules/bootstrap/scss/toasts";
@import "./node_modules/bootstrap/scss/modal";
@import "./node_modules/bootstrap/scss/tooltip";
@import "./node_modules/bootstrap/scss/popover";
@import "./node_modules/bootstrap/scss/carousel";
@import "./node_modules/bootstrap/scss/spinners";
@import "./node_modules/bootstrap/scss/bootstrap-utilities";

// Bootstrap additions
@import "bootstrap-additions/alerts";
@import "bootstrap-additions/background-variant";
@import "bootstrap-additions/badges";
@import "bootstrap-additions/borders";
@import "bootstrap-additions/breadcrumb";
@import "bootstrap-additions/button-groups";
@import "bootstrap-additions/buttons";
@import "bootstrap-additions/cards";
@import "bootstrap-additions/carousel";
@import "bootstrap-additions/dropdown";
@import "bootstrap-additions/forms";
@import "bootstrap-additions/modal";
@import "bootstrap-additions/inputs";
@import "bootstrap-additions/list-group";
@import "bootstrap-additions/nav";
@import "bootstrap-additions/pagination";
@import "bootstrap-additions/popover";
@import "bootstrap-additions/progress";
@import "bootstrap-additions/reboot";
@import "bootstrap-additions/stacks";
@import "bootstrap-additions/table";
@import "bootstrap-additions/toasts";
@import "bootstrap-additions/tooltip";

/* Bootstrap custom components (based on Bootstrap variables)
   ========================================================================== */
@import "bootstrap-custom/bc-avatar";
@import "bootstrap-custom/bc-navbar";
@import "bootstrap-custom/bc-toast";
@import "bootstrap-custom/bc-toolbar";

// Custom components written from scratch

@import "components/c-activity-list";
@import "components/c-author";
@import "components/c-bullet";
@import "components/c-button-toolbar";
@import "components/c-comment";
@import "components/c-content";
@import "components/c-counter";
@import "components/c-divider";
@import "components/c-dl";
@import "components/c-blank-slate";
@import "components/c-file-upload";
@import "components/c-flatpickr";
@import "components/c-header-collapsible";
@import "components/c-master-detail";
@import "components/c-meta-list";
@import "components/c-or";
@import "components/c-progress-bar";
@import "components/c-publication-card";
@import "components/c-radio-card";
@import "components/c-requested-change";
@import "components/c-sidebar";
@import "components/c-side-panel";
@import "components/c-spinner-card-backdrop";
@import "components/c-stepper";
@import "components/c-sub-sidebar";
@import "components/c-tagify";
@import "components/c-thumbnail";

/* Custom utilities written from scratch
   ========================================================================== */

@import "utilities/u-generic";

html {
  font-size: 62.5%; // Base 10
}

main {
  width: 100%;
  height: calc(100% - 3.2rem);
  // max-height: calc(100% - 3.2rem);
  overflow: hidden;
  background-color: $gray-25;
}

h1,
h2,
h3,
h4 {
  color: $header;
}

h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.3;
}

h3 {
  line-height: 1.4;
}

h4 {
  line-height: 1.5;
}

ul,
ol {
  margin-bottom: 0;
}

.if {
  font-size: 2rem;
  line-height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.if--small {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.if--xsmall {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.if--large {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

.if--success {
  color: $success;
}

.if--error {
  color: $danger;
}

.if--primary {
  color: $blue;
}

.if--warning {
  color: $warning;
}

.if--danger {
  color: $danger;
}

.if--muted {
  color: $icon-muted;
}

.if--notification {
  position: relative;
}

.if--notification:after {
  content: "";
  display: block;
  position: absolute;
  right: -0.3rem;
  top: -0.1rem;
  border-radius: 1rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: $primary;
  background-color: $dark-blue;
}

.if--notification-warning:after {
  background-color: $yellow;
  border: 1px solid $dark-yellow;
}

.c-logo {
  height: 1.6rem;
}

/* Bootstrap 5 code
  // Todo: delete when migrating to Bootstrap 5
*/

.ratio {
  position: relative;
  width: 100%;

  &::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
  }
}

.ratio > * {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}
