<div class="form-group row">
    <label class="col-sm-3 col-form-label align-self-start">
        {{.Label}}
        {{if .Required}}&nbsp;<abbr class="required" title="Required">*</abbr>{{end}}
    </label>
    <div class="col-sm-9">
        <span>{{if .Value}}{{.Value}}{{else}}-{{end}}</span>
    </div>
</div>
